<ul class="menu">
  <li class="menu-item"><a [routerLink]="['/pc/test/audio']" routerLinkActive="active">audio</a></li>
  <!-- <li class="menu-item"><a [routerLink]="['/pc/upload']" routerLinkActive="active">upload</a></li> -->
  <li class="menu-item"><a [routerLink]="['/pc/behaviorsubject']" routerLinkActive="active">behaviorsubject</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/animation']" routerLinkActive="active">animation</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/ng_zone_demo']" routerLinkActive="active">ngZoneDemo</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/pagination_test']" routerLinkActive="active">paginationTest</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/drag']" routerLinkActive="active">drag</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/rxjs']" routerLinkActive="active">RxJs</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/monaco']" routerLinkActive="active">Monaco</a></li>
  <li class="menu-item"><a [routerLink]="['/pc/mathquill']" routerLinkActive="active">mathquill</a></li>
</ul>
