<ul class="menu">
  <li class="menu-item"><a [routerLink]="['/test/audio']" routerLinkActive="active">audio</a></li>
  <li class="menu-item"><a [routerLink]="['/upload']" routerLinkActive="active">upload</a></li>
  <li class="menu-item"><a [routerLink]="['/behaviorsubject']" routerLinkActive="active">behaviorsubject</a></li>
  <li class="menu-item"><a [routerLink]="['/animation']" routerLinkActive="active">animation</a></li>
  <li class="menu-item"><a [routerLink]="['/ng_zone_demo']" routerLinkActive="active">ngZoneDemo</a></li>
</ul>
